:root {
  --cream: #edd2b8;
  --dark: #3a2406;
  --fade: #b78d89;
}

body {
  margin: auto;
  max-width: 1280px;
  
  /* default text settings */
  font-family: "Cormorant", serif;
  font-size: large;
  color: var(--dark);
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--dark);
}

a:hover {
  text-shadow: 0px 0px 10px var(--dark);
}

#newspaper-title {
  text-align: center;
  width: 100%;
}

#newspaper-title-text {
  font-size: xxx-large;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: uppercase;
}

#newspaper-subtitle-text {
  font-size: x-large;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

#new-post {
  flex-grow: 5;
}

#new-post a {
  font-size: xxx-large;
  font-style: italic;
}

#post-content {
  font-size: large;
  font-style: normal;
  text-align: justify;
  flex: 2;
}

#post-content-wrapper {
  display: flex;
  flex-direction: row;
}

#navigation-content {
  flex-grow: 1;
  margin-left: 5%;
  min-width: 30%;
}

#navigation-content p {
  text-align: justify;
}

#recent-posts {
  margin-top: 30px;
}

#about-me {
  border: thick double var(--dark);
  border-radius: 3px;
  padding: 10px;
}

.content-title {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.image-wrapper {
  border: thick double var(--dark);
  border-radius: 5px;
  padding: 10px;
  margin-right: 5%;
  margin-top: 2.5%;
  text-align: center;
  flex: 2;
}

.finger-button {
  background:      url("../images/old-timey-finger.png");
  background-size: 100%;
  border:          none;
  display:         block;
  height:          56px;
  margin:          auto;
  width:           100px;
}

.finger-button:hover {
  cursor:          pointer;
  transform:       translate(10px);
}

.vignette {
  background: var(--cream);
  box-shadow: inset 0px 0px 300px var(--dark);
  height: 100%;
  left: 0;
  opacity: 0.7;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -100;
}

.thin-divider {
  border: none;
  border-top: 1px solid var(--dark);
  width: 100%;
}

.thick-divider {
  border: none;
  border-top: 3px solid var(--dark);
  width: 100%;
}

/* view-post.html styles */

#post-title {
  text-align: center;
  font-size: xxx-large;
  font-style: italic;
}

/* end */
